.editbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 1rem;
}

.delete-button {
  background-color: #f45d58;
  /* width: 6rem; */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: var(--body);
  margin-left: 1rem;
  cursor: pointer;
}

.edit-button {
  background-color: #585bf4;
  /* width: 6rem; */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: var(--body);
  margin-left: 1rem;
  cursor: pointer;
}

.view-button {
  background-color: #55bb99;
  /* width: 6rem; */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: var(--body);
  cursor: pointer;
}

.editbar span {
  font-size: var(--body);
  margin-left: 0;
}

.button-box {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

/* .resource-heading {
  max-width: 66vw;
} */

.session-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid grey;
  margin-left: auto;
  margin-right:auto;
  /* margin-top: 1rem; */
  padding: 1rem 1rem 1rem 1rem;
}

.session-option-img {
  border-radius: 50%;
  height: 20vw;
}

.session-option-info {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

@media (min-width: 768px) {
  .editbar {
    flex-direction: row;
    width: 70vw;
    margin-left: auto;
    margin-right: auto
  }

  .button-box {
    margin: 0;
  }

  .session-option {
    width: 70vw;
  }

  .session-option-info {
    width: 30vw;
  }

  .session-option-img {
    border-radius: 50%;
    height: 5vw;
  }
}
