.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #FDFDFD;
    z-index: 10;
    -webkit-box-shadow: 0 3px 6px -6px #999;
    -moz-box-shadow: 0 3px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
}

.home {
  padding: 0.5rem;
}
