/* MOBILE AND DESKTOP RESPONSIVE */

.staff-options {
  display: grid;
  grid-template-columns: repeat(2, 10.5rem [col-start]);
  justify-content: center;
}

.staff-sess {
  display: flex;
  justify-content: center;
}

.logout {
  display: flex;
  bottom: 0.5rem;
  position: fixed;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
