.resource-container {
  display: grid;
  grid-template-columns: repeat(2, 12rem [col-start]);
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .resource-container {
    display: grid;
    grid-template-columns: repeat(2, 10rem [col-start]);
    justify-content: center;
  }
}
