.hidden-input {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: var(--body);
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

}

.form-inputs {
  display: inherit;
  padding-bottom: 1rem;
  align-items: left;
  flex-direction: column;
}

.input {
  font-family: "Montserrat", sans-serif;
  font-size: var(--body);
  padding: 0.5rem;
  width: 80vw;
  border-radius: 15px;
  background-color: white;
  border-color: transparent;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 1rem 0 1rem 0;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: var(--body);
  font-weight: bold;
  padding: 0.8rem;
  width: 60vw;
  margin-top: 1rem;
  border-radius: 10px;
  color: white;
  background-color: #55BB99;
  border-color: transparent;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:active {
transform: translateY(2.5px);
}

.registration {
position: fixed;
bottom: 1rem;
text-align: center;
}

.account {
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1.5rem;

}
.link {
  white-space: pre;
  font-weight: bold;
}


@media (min-width: 900px) {
  .input {
    width: 20vw;
  }
  button {
    width: 10vw;
  }
}
