nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: var(--body);
}

form {
  margin-top: 2rem;
  margin-left: 1rem;
}

.username-input {
  font-family: "Montserrat", sans-serif;
  font-size: var(--body);
  padding: 0.4rem;
}

.select-opt {
  font-family: "Montserrat", sans-serif;
  font-size: var(--body);
  padding: 0.4rem;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: var(--body);
  padding: 0.5rem;
  margin-top: 1rem;
}
.staff-login {
  margin-top: 8rem;
}
