:root {
  --large: 2.369rem;
  --heading: 1.5rem;
  --subtitle: 1.333rem;
  --body: 1rem;
  --small: 0.8rem;
  
  --font: #3E4C47;
  --background: #D2E8E1;
  --navbar: #DAE9E4;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--font);
    background-color: var(--background);
}

h1 {
  padding: 1rem;
  font-size: var(--heading);
  text-align: center;
  margin: auto;
}

p {
  font-size: var(--body);
  text-align: center;
  margin: auto;
}

h2 {
  font-size: var(--subheading);
}

figcaption {
  display: flex;
  text-align: center;
  color: var(--font);
  justify-content: center;
  font-size: var(--body);
}

@media screen and (max-width: 800px) {
  :root {
    --large: 4.236rem;
    --heading: 2rem;
    --subtitle: 1.618rem;
    --body: 1.3rem;
    --small: 0.9rem;
  }
  h1 {
    font-size: var(--heading);
      padding: 0.4rem;
  }
  p {
    font-size: var(--body);
    padding: 0.1rem;
  }
}
