/* ROOT AND DESKTOP */

:root {
  --large: 2.369rem;
  --heading: 1.5rem;
  --subtitle: 1.333rem;
  --body: 1rem;
  --small: 0.9rem;

  --font: #3e4c47;
  --background: #d2e8e1;
  --navbar: #dae9e4;
}
* {
  outline: none;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--font);
  background-color: var(--background);
}

h1 {
  padding: 1rem;
  font-size: var(--large);
  text-align: center;
  margin: auto;
}

h2 {
  font-size: var(--heading);
}

p {
  font-size: var(--body);
  text-align: center;
  margin: auto;
}

figcaption {
  display: flex;
  text-align: center;
  color: var(--font);
  justify-content: center;
  font-size: var(--small);
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 800px) {
  :root {
    --large: 4.236rem;
    --heading: 2rem;
    --subtitle: 1.618rem;
    --body: 1.3rem;
    --small: 0.9rem;
  }
  h1 {
    font-size: var(--heading);
    padding: 0.4rem;
  }
  p {
    font-size: var(--body);
    padding: 1rem 0;
  }
  h2 {
    margin: 0.5rem;
    text-align: center;
  }
}
